/* отрисовка секций шкафа */

.underSofa {
  position: absolute;
  top: 0;
  margin: auto 0;
  perspective: 800px;
}

.underSofaSides {
  position: absolute;
  -webkit-transform: rotateX(0deg);
  -webkit-transform-origin: bottom;
  transform-style: preserve-3d;
}

.underSofaSides div {
  float: left;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.sectionCube {
  position: relative;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
}

.sectionFront {
  position: absolute;
  background-color: #f3f3f3;
}

.sectionLeft {
  position: absolute;
  left: 0px;
  background-color: #f3f3f3;
  opacity: 1;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: left;
}

.sectionRight {
  position: absolute;
  right: 0px;
  background-color: #f3f3f3;
  opacity: 1;
  -webkit-transform: rotateY(-90deg) rotateX(0deg);
  -webkit-transform-origin: right;
}

.dashUnderline {
  position: absolute;
  left: 20;
  box-sizing: border-box;
  border-right: 1px dashed rgb(58, 88, 187);
  border-left: 1px dashed rgb(58, 88, 187);
  opacity: 1;
  -webkit-transform: rotateY(90deg) rotateX(90deg) rotateZ(90deg);
}

.solidUnderline {
  position: absolute;
  border-right: 1px solid rgb(58, 88, 187);
  border-left: 1px solid rgb(58, 88, 187);
  opacity: 1;
  -webkit-transform: rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
}
