.model-1 {
  background: white url('./images/0.png');
  background-size: 100% 100%;
}

.model-2 {
  background: white url('./images/1.png');
  background-size: 100% 100%;
}

.model-3 {
  background: white url('./images/2.png');
  background-size: 100% 100%;
}

.model-4 {
  background: white url('./images/3.png');
  background-size: 100% 100%;
}

.board {
  margin: auto 0;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: auto 20%;
  /* padding-bottom: 120px; */
  overflow: scroll;
}

.row2 {
  display: flex;
  /* height: 200px; */
  justify-content: space-around;
  margin: auto 20%;
  /* background-color: antiquewhite; */
  /* padding-bottom: 120px; */
}

.row3 {
  position: relative;
  z-index: 10;
  display: flex;
  /* width: 400px; */
  margin: 0 auto;
  justify-content: center;
}

.square {
  width: 200px;
  height: 300px;
}

.squareRow2 {
  width: 100px;
  height: 300px;
  padding-bottom: 20px;
}

.squareRow3 {
  /* z-index: 10; */
  width: 100px;
  height: 300px;
  outline: 1px dashed rgb(58, 88, 187);
  /* outline-offset: -2px; */
  box-sizing: border-box;
}
.squareRow3 .smooth-dnd-draggable-wrapper {

}
.onSquare {
  background-color: rgb(222, 170, 238, 0.5);
}

.onSquareHalfRight {
  background: linear-gradient(to right, rgb(222, 170, 238, 0.5) 50%, rgb(58, 88, 187, 0) 50%);
}

.onSquareHalfLeft {
  background: linear-gradient(to right, rgb(58, 88, 187, 0) 50%, rgb(222, 170, 238, 0.5) 50%);
}

.piece {
  z-index: 10;
  font-size: 60px;
  text-align: center;
  height: 300px;
  cursor: grab;
  /* transition: opacity .2s ease;  */
  background-color: none;
  /* background: aliceblue url('./images/2.png');
  background-size: 100% 100%; */
}

.dragging {
  /* background-color: blue; */
  cursor: grabbing;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: 1s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 2s;
}
@-webkit-keyframes blinker {
	0% {background-color: #ffffff;}
	50% {background-color: rgba(124, 124, 124, 0.2)}
	100% {background-color: #ffffff;}
}
 
@keyframes blinker {
	0% {background-color: #ffffff;}
	50% {background-color: rgba(124, 124, 124, 0.2)}
	100% {background-color: #ffffff;}
} 

.nothing {
  /* z-index: 999; */
  /* background: none; */
  /* display: none; */
  /* transform: scale(0); */
}

.top {
  position: absolute;
  /* z-index: 1; */
  /* background-color: blue; */
  outline: 1px dashed rgb(58, 88, 187);
  height: 100px;
  box-shadow: 0 0 40px -10px;
  opacity: 0.4;
  border: 1px dashed black;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: top;
}

.bottom {
  top: 300px;
  position: absolute;
  /* z-index: 1; */
  background-color: blue;
  height: 100px;
  box-shadow: 0 0 40px -10px;
  opacity: 0.4;
  border: 1px dashed black;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: top;
}
.bottom-hover{
  background-color: rgb(94, 190, 245);

}

.left {
  /* z-index: 1; */
  position: absolute;
  background-color: rgb(110, 110, 136);
  height: 300px;
  width: 100px;
  box-shadow: inset 0 0 40px -10px rgb(88, 124, 192);
  opacity: 0.5;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: left;
}

.right {
  /* z-index: 1; */
  background-color: rgb(110, 110, 136);
  position: absolute;
  right: 0px;
  height: 300px;
  width: 100px;
  box-shadow: inset 0 0 40px -10px rgb(88, 124, 192);
  opacity: 0.5;
  -webkit-transform: translateX(0) rotateY(-90deg);
  -webkit-transform-origin: right;
}

.resting {
  background-color: black;
  width: 50px;
  height: 50px;
}

.underCube {
  /* z-index: 1; */
  position: absolute;
  left: 0;
  height: 100%;
}

.cube {
  /* z-index: 1; */
  height: 100%;
  perspective: 400px;
  position: relative;
  border-bottom: 14px solid rgb(112, 112, 112);
}

.smooth-dnd-ghost {
  z-index: 12;
}

.dropping {
/* padding-left: 100px; */
position: absolute;
  /* left: 50; */
}